PORT=5124

# Database
CONNECTION_STRING="Host=localhost;Port=5432;Database=proyecto-distribuidas;Username=postgres;Password=clave_piola"

SERVICE_NAME="VEHICLE-SERVICE"
SEQ_URL="http://localhost:5341"

# JWT Auth
JWT_SECRET=b674d61f8fa4763520494479868548fc0fa05e571b8103e96bdcabaeddf51473
JWT_ISSUER=http://localhost:5121
JWT_AUDIENCE=http://localhost:5121

eureka__client__serviceUrl=http://localhost:8761/eureka
eureka__instance__appName=VEHICLE-SERVICE
eureka__instance__hostName=localhost
eureka__instance__port="${PORT}"
eureka__instance__preferIpAddress=true