CONNECTION_STRING="Host=localhost;Port=5436;Database=proyecto-distribuidas;Username=postgres;Password=clave_piola"
# CONNECTION_STRING="Host=c-ad-proyecto-distribuidas-fuel-db.zhidb6yz4tnfoh.postgres.cosmos.azure.com;Port=5432;Database=proyecto-distribuidas;Username=citus;Password=Harkonnen3125;Ssl Mode=require"
JWT_SECRET=b674d61f8fa4763520494479868548fc0fa05e571b8103e96bdcabaeddf51473
JWT_ISSUER=http://localhost:5121
JWT_TIME=2

PORT=5126

SEQ_URL=http://localhost:5341

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
QUEUE_NAME=routes_ended_queue

eureka__client__serviceUrl=http://localhost:8761/eureka
eureka__instance__appName=FUEL-SERVICE
eureka__instance__hostName=localhost
eureka__instance__port="${PORT}"
eureka__instance__preferIpAddress=true
eureka__instance__metadataMap__httpPort="${PORT}"