CONNECTION_STRING="Host=localhost;Port=5433;Database=proyecto-distribuidas;Username=postgres;Password=clave_piola"
JWT_SECRET=b674d61f8fa4763520494479868548fc0fa05e571b8103e96bdcabaeddf51473
JWT_ISSUER=http://localhost:5121
JWT_TIME=2

HTTP1_PORT=5125
HTTP2_PORT=7040

RABBITMQ_HOST=localhost
RABBITMQ_PORT=5672
RABBITMQ_USER=guest
RABBITMQ_PASSWORD=guest

eureka__client__serviceUrl=http://localhost:8761/eureka
eureka__instance__appName=ROUTES-SERVICE
eureka__instance__hostName=localhost
eureka__instance__port="${HTTP2_PORT}"
eureka__instance__metadataMap__httpPort="${HTTP1_PORT}"
eureka__instance__metadataMap__grpcPort="${HTTP2_PORT}"